# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEs
.classpath
.project
*.iml
/.idea/

# Package Files #
*.war
*.ear

# Preventing Security Issues
*.pem

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class

# Node Modules
node_modules/

# Log Files #
*.log
*.logs
logs

# IDE Files #
settings.*
/target/
/.settings/
/.classpath
/.idea/

# Npm - JS - NodeJS - Instabul - Grunt ###
/node-modules/
node_modules
npm-debug.log*
pids
*.pid
*.seed
.nyc_output
.grunt
.lock-wscript
.npm
.node_repl_history
lib-cov
coverage
build/Release
jspm_packages
